<div class='col-3 mb-5' data-controller="analytics">
  <%= form_with(url: analytics_path, id: 'analytics_filter_form', method: 'GET') do |form| %>
    <div class='d-flex justify-content-between align-items-center'>
      <h5>Users: </h5>
      <%= select_tag 'filter[user_id]', options_for_select(client_users_options, params.dig('filter', 'user_id')), class: "form-control", data: { action: 'change->analytics#filter_analytics' } %>
    </div>
  <% end %>
</div>
<div class="row mb-3">
  <div class="col-xxl-6 col-md-6">
    <div class="card info-card revenue-card">
      <div class="card-body">
        <h5 class="card-title">Deals Closed</h5>
        <%= pie_chart @group_analytics, options: {
              series: {
                barWidth: '50%'
              },
              tooltip: {
                valueFormatter: RailsCharts.js("(value) => '$' + Math.round(value)")
              }
            } %>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-md-6">
    <div class="card info-card revenue-card">
      <div class="card-body">
        <h5 class="card-title">Commission Pending</span></h5>
      <div class="row">
        <div class="col-4">
          <h5 class="card-title">Total Deals</h5>
        </div>
        <div class="col-4">
          <h2 class="card-title btn bg-info"><%= @count %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h2 class="card-title">Expected Commission</h2>
        </div>
        <div class="col-4">
          <h2 class="card-title btn bg-mint">$<%= @commission_pending %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Commission Earned</span></h5>
    <%= line_chart @commission_earned,
          class: 'box',
          options: {
            title: {
              text: "Commission Earned for past 12 months",
              left: 'center'
            },
            tooltip: {
              valueFormatter: RailsCharts.js("(value) => '$' + Math.round(value)")
            }
          }
        %>
  </div>
</div>
