<div data-controller="deals">
  <div class='d-flex justify-content-between align-items-center'>
    <div class='col-8'>
      <div class='d-flex justify-content-between align-items-center'>
        <div class='col-7'>
          <h3><%= @client.name %> Deal</h3>
        </div>
      </div>
    </div>
    <div>
      <%if @deal.blank?%>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newDealModal">
          New Deal
        </button>
      <% end %>
    </div>
  </div>
  <%if @deal%>
    <hr>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deal-<%= @deal.id%>Title">Deal Details</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              Claim No:
            </div>
            <div class="col-6">
              <%= @deal.claim_no %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Amount Owed:
            </div>
            <div class="col-6">
              <%= @deal.amount_owed %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Fee Percent:
            </div>
            <div class="col-6">
              <%= @deal.fee_percent %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Status:
            </div>
            <div class="col-6">
              <%= @deal.status.to_s.humanize %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Expected Commission:
            </div>
            <div class="col-6">
              <%= @deal.expected_commission %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Client:
            </div>
            <div class="col-6">
              <%= @deal.client.name %>
            </div>
          </div>
        </div>
        <div class="modal-footer align-items-center">
          <%= link_to "Edit", edit_deal_path(@deal), class: 'btn bg-spearmint', data: {turbo: false} %>
          <%= button_to "Delete", @deal, method: :delete, class: 'btn btn-danger', data: { turbo_confirm: "Are you sure?" }, 'data-bs-dismiss':"modal" %>
        </div>
      </div>
    </div>
  <%end %>
  <hr>
  <div class="deal-status-container" data-controller='deals'>
    <div class="arrow-steps clearfix">
      <% object = YAML::unsafe_load (@client.deal&.versions&.order(:created_at)&.last&.object_changes || "{}") %>
      <% last_status = object.key?("status") ? Deal.statuses.invert[object["status"][1]] : 'agreement_start' %>
      <% current = @client.deal.present? %>
      <% deal_statuses.each do |value, key| %>
        <div class="step <%=  current ? 'current' : '' %>" data-action='click->deals#updateStatus' data-id=<%=@deal.id%> data-status=<%= key%>> <%= key.humanize %></div>
        <% current = current && !(last_status == key) %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="newDealModal" tabindex="-1" role="dialog" aria-labelledby="newDealModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newDealModalTitle">New Deal</h5>
      </div>
      <div class="modal-body">
        <%= form_with(model: Deal.new, url: deals_path, method: 'post', id: 'client-activity-form') do |form| %>
          <div class="mb-3">
            <%= form.label :claim_no, class: "form-label" %>
            <%= form.text_field :claim_no, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :amount_owed, class: "form-label" %>
            <%= form.text_field :amount_owed, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :fee_percent, class: "form-label" %>
            <%= form.text_field :fee_percent, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :status, class: "form-label" %>
            <%= form.select :status, options_for_select(deal_statuses), class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :expected_commission, class: "form-label" %>
            <%= form.text_field :expected_commission, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :client_id, class: "form-label" %>
            <%= form.select :client_id, options_for_select([[@client.name, @client.id]]), class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :included, class: "form-label" %>
            <%= form.select :included, options_for_select(boolean_options), class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.submit "Save", class: "btn btn-primary", 'data-bs-dismiss':"modal" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
