<%= turbo_frame_tag 'family-tree' do%>
  <div data-controller='family-tree' data-client-id="<%= @client.id %>">
    <div id="family_tree"></div>
  </div>
  <div class="modal fade" id="createTreeNode" tabindex="-1" role="dialog" aria-labelledby="createTreeNodeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createTreeNodeLabel">Create Child</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for TreeNode.new, url: '#', data: {'client-id': @client.id, controller: 'family-tree', action: 'turbo:submit-end->family-tree#drawChart'} do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :person_name %>
              <%= f.text_field :person_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :status %>
              <%= f.select :status, %w[diseased alive], { prompt: "Select Status" }, class: "form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Create", class: "btn btn-primary", 'data-bs-dismiss':"modal" %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
