<%= turbo_frame_tag 'client-section' do %>
  <section class="section profile">
    <h1>Client Profile</h1>
    <div class='row'>
      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <%= link_to  'Notes', client_path(@client.id, partial: 'client_notes'), class: "nav-link #{ (params[:partial] == 'client_notes' || params[:partial].nil?) ? 'active' : nil}" %>
              </li>
              <li class="nav-item">
                <%= link_to  'Activities', client_path(@client.id, partial: 'client_activities'), class: "nav-link #{ params[:partial] == 'client_activities' ? 'active' : nil}" %>
              </li>
              <li class="nav-item">
                <%= link_to  'Calendar', client_path(@client.id, partial: 'client_calendar'), class: "nav-link #{ params[:partial] == 'client_calendar' ? 'active' : nil}" %>
              </li>
              <li class="nav-item">
                <%= link_to  'Deals', client_path(@client.id, partial: 'client_deals', detail: true), class: "nav-link #{ params[:partial] == 'client_deals' ? 'active' : nil}" %>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <%= render params[:partial] || 'client_notes' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Profile Details</h5>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label ">Full Name</div>
                  <div class="col-lg-8 col-md-8"><%= @client.name%></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Email</div>
                  <div class="col-lg-8 col-md-8"><%= @client.email %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Address</div>
                  <div class="col-lg-8 col-md-8"><%= @client.address %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Phone</div>
                  <div class="col-lg-8 col-md-8"><%= @client.phone %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Amount Owed</div>
                  <div class="col-lg-8 col-md-8">$<%= @client.amount_owed %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Claim #</div>
                  <div class="col-lg-8 col-md-8"><%= @client.claim_no %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-4 col-md-4 label">Lawsuit #</div>
                  <div class="col-lg-8 col-md-8"><%= @client.lawsuit_no %></div>
                </div>
                <hr>
                <div class='d-flex justify-content-center align-items-center'>
                  <%= link_to "Edit", edit_client_path(@client), class: 'btn btn-success' %> |
                  <%= link_to "Back to clients", clients_path, class: 'btn btn-info' %> |
                  <%= button_to "Delete", @client, method: :delete, class: 'btn btn-danger' %>
                </div>
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
        <div class="card mt-5">
          <div class="card-body">
            <!-- Default List group -->
            <ul class="list-group">
              <a href="#">
                <li class="list-group-item">Documents</li>
              </a>
              <a href="#">
                <li class="list-group-item">Call Recordings</li>
              </a>
              <a href="#">
                <li class="list-group-item">Secured Dropbox</li>
              </a>
              <a href="#">
                <li class="list-group-item">Invoice</li>
              </a>
              <a href="#">
                <li class="list-group-item">Family Tree</li>
              </a>
            </ul>
            <!-- End Default List group -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(function() {
      $('body').on('submit', '#client-notes-form, #client-activity-form', function(e){
        e.preventDefault();
        var formData = $(this).serialize();

        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          success: function(data) {
            $('#newActivityModal').modal('hide');
            $("#note_description").val('')
          },
          data: formData,
          error: function(error) {
            console.error('Error submitting form:', error);
          }
        });
      })

      $('body').on('submit', '.activity-action-form', function(e){
        e.preventDefault();
        let confirmed = confirm('Are you sure you want to submit this form?');

        if (confirmed) {
          var formData = $(this).serialize();

          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData
          });
        }
      })
    })
  </script>
<% end %>
