<section class="section profile">
  <h1>Client Profile</h1>
  <div class='row'>
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#client-notes">Notes</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Activities</button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">Profile Details</h5>
              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                <div class="col-lg-9 col-md-8"><%= @client.user.name %></div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8"><%= @client.user.email %></div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Address</div>
                <div class="col-lg-9 col-md-8"><%= @client.address %></div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone #</div>
                <div class="col-lg-9 col-md-8"><%= @client.phone %></div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Amount Owed</div>
                <div class="col-lg-9 col-md-8"><%= @client.amount_owed %></div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Claim #</div>
                <div class="col-lg-9 col-md-8"><%= @client.claim_no %></div>
              </div>
              <div class='d-flex justify-content-center align-items-center'>
                <%= link_to "Edit this client", edit_client_path(@client), class: 'btn btn-success' %> |
                <%= link_to "Back to clients", clients_path, class: 'btn btn-info' %> |
                <%= button_to "Destroy this client", @client, method: :delete, class: 'btn btn-danger' %>
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="client-notes">
              <div class="card-body pb-0">
                <div class="accordion">
                  <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#add-note" aria-expanded="false" aria-controls="collapseTwo">
                      <div class="post-item clearfix">
                        <a>Add Note</a>
                      </div>
                    </button>
                    <div id="add-note" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <%= form_with(model: Note.new, url: notes_path(format: :js), method: 'post', id: 'notes-form') do |form| %>
                          <%= form.hidden_field :author_id, value: User.first.id %>
                          <%= form.hidden_field :client_id, value: @client.id %>
                          <div class="mb-3">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Note: </label>
                            <%= form.text_area :description, class: "form-control", style:"height: 100px" %>
                          </div>
                          <div class="mb-3">
                            <%= form.submit "Save", class: "btn btn-primary" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div id='notes-list'>
                    <%= render 'notes', notes: @client.notes %>
                  </div>
                </div>
                <!-- End sidebar recent posts-->
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="profile-settings">
              <div class='d-flex justify-content-between align-items-center'>
                <h1><%= @client.user.name %> Activities</h1>
                <%= link_to "New Activity", new_activity_path, class: 'btn btn-primary' %>
              </div>
              <div class='row'>
                <div id="activities" class='col-7'>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">What to do</th>
                        <th scope="col">Client</th>
                        <th scope="col">Priority</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @client.activities.each do |activity| %>
                        <%= render activity %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class='col-5'>
                  <%= month_calendar(events: @client.activities, attribute: :date) do |date, activities| %>
                    <%= activities.count %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>
                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="password" type="password" class="form-control" id="currentPassword">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="newpassword" type="password" class="form-control" id="newPassword">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
              </form>
              <!-- End Change Password Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Integrations</h5>
          <!-- Default List group -->
          <ul class="list-group">
            <a href="#">
              <li class="list-group-item">Documents</li>
            </a>
            <a href="#">
              <li class="list-group-item">Call Recordings</li>
            </a>
            <a href="#">
              <li class="list-group-item">Secured Dropbox</li>
            </a>
            <a href="#">
              <li class="list-group-item">Invoice</li>
            </a>
            <a href="#">
              <li class="list-group-item">Family Tree</li>
            </a>
          </ul>
          <!-- End Default List group -->
        </div>
      </div>
    </div>
  </div>
</section>
