<section class="section profile">
  <h1>Client Profile</h1>
  <div class='row'>
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#client-notes">Notes</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Activities</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#client-calendar">Calendar</button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active pt-3" id="client-notes" data-controller='notes'>
              <div class="card-body pb-0">
                <div class="accordion">
                  <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#add-note" aria-expanded="false" aria-controls="collapseTwo">
                      <div class="post-item clearfix">
                        <a>Add Note</a>
                      </div>
                    </button>
                    <div id="add-note" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <%= form_with(model: Note.new, url: notes_path(format: :js), method: 'post', id: 'notes-form', data: {action: 'submit->notes#submit_notes'}) do |form| %>
                          <%= form.hidden_field :noteable_type, value: 'Client' %>
                          <%= form.hidden_field :noteable_id, value: @client.id %>
                          <div class="mb-3">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Note: </label>
                            <%= form.text_area :description, class: "form-control", style:"height: 100px" %>
                          </div>
                          <div class="mb-3">
                            <%= form.submit "Save", class: "btn btn-primary" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="scrollable-div" style="max-height: 65vh; overflow-y: auto; border: 1px solid #ddd; padding: 10px;">
                    <div id='notes-list'>
                      <%= render 'notes', notes: @client.notes.order(created_at: :desc) %>
                    </div>
                  </div>
                </div>
                <!-- End sidebar recent posts-->
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="profile-settings">
              <div class='d-flex justify-content-between align-items-center'>
                <h1><%= @client.name %> Activities</h1>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                  New Activity
                </button>
              </div>
              <div class='row scrollable-div' style="max-height: 67vh; overflow-y: auto; border: 1px solid #ddd; padding: 10px;">
                <div id="activities-list" class='col-12' data-controller="activities">
                  <%= render partial: 'activities/activities_list', locals: {activities: @client.activities} %>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">New Activity</h5>
                  </div>
                  <div class="modal-body">
                    <%= form_with(model: Activity.new, url: activities_path(format: :js), method: 'post', id: 'client-activity-form') do |form| %>
                      <div class="mb-3">
                        <%= form.label :date, class: "form-label" %>
                        <%= form.date_field :date, class: "form-control" %>
                      </div>
                      <div class="mb-3">
                        <%= form.label :to_do, class: "form-label" %>
                        <%= form.text_field :to_do, class: "form-control" %>
                      </div>
                      <div class="mb-3">
                        <%= form.hidden_field :assignee_type, value: 'Client' %>
                        <%= form.hidden_field :assignee_id, value: @client.id %>
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Client</div>
                          <div class="col-lg-9 col-md-8"><%= @client.name %></div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <%= form.label :priority, class: "form-label" %>
                        <%= form.select :priority, options_for_select([ 'Regular','High', 'Urgent']), class: "form-control" %>
                      </div>
                      <div class="mb-3">
                        <%= form.submit "Save", class: "btn btn-primary" %>
                      </div>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="client-calendar">
              <div class='row scrollable-div' style="max-height: 67vh; overflow-y: auto; border: 1px solid #ddd; padding: 10px;">
                <div class='col-12'>
                  <%= month_calendar(events: @client.activities, attribute: :date) do |date, activities| %>
                    <%= date.day %>
                    <br>
                    <br>
                    <span class="btn btn-success"><%= activities.count %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">Profile Details</h5>
              <div class="row">
                <div class="col-lg-4 col-md-4 label ">Full Name</div>
                <div class="col-lg-8 col-md-8"><%= @client.name%></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-4 col-md-4 label">Email</div>
                <div class="col-lg-8 col-md-8"><%= @client.email %></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-4 col-md-4 label">Address</div>
                <div class="col-lg-8 col-md-8"><%= @client.address %></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-4 col-md-4 label">Phone</div>
                <div class="col-lg-8 col-md-8"><%= @client.phone %></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-4 col-md-4 label">Amount Owed</div>
                <div class="col-lg-8 col-md-8">$<%= @client.amount_owed %></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-4 col-md-4 label">Claim#</div>
                <div class="col-lg-8 col-md-8"><%= @client.claim_no %></div>
              </div>
              <hr>
              <div class='d-flex justify-content-center align-items-center'>
                <%= link_to "Edit", edit_client_path(@client), class: 'btn btn-success' %> |
                <%= link_to "Back to clients", clients_path, class: 'btn btn-info' %> |
                <%= button_to "Delete", @client, method: :delete, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-body">
          <!-- Default List group -->
          <ul class="list-group">
            <a href="#">
              <li class="list-group-item">Documents</li>
            </a>
            <a href="#">
              <li class="list-group-item">Call Recordings</li>
            </a>
            <a href="#">
              <li class="list-group-item">Secured Dropbox</li>
            </a>
            <a href="#">
              <li class="list-group-item">Invoice</li>
            </a>
            <a href="#">
              <li class="list-group-item">Family Tree</li>
            </a>
          </ul>
          <!-- End Default List group -->
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    $('body').on('submit', '#client-notes-form, #client-activity-form', function(e){
      e.preventDefault();
      var formData = $(this).serialize();

      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        success: function(data) {
          $('#exampleModalLong').modal('hide');
          $("#note_description").val('')
        },
        data: formData,
        error: function(error) {
          console.error('Error submitting form:', error);
        }
      });
    })

    $('body').on('submit', '.activity-action-form', function(e){
      e.preventDefault();
      let confirmed = confirm('Are you sure you want to submit this form?');

      if (confirmed) {
        var formData = $(this).serialize();

        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData
        });
      }
    })
  })
</script>
