<tr id="<% dom_id lead %>">
  <td scope="row"><%= lead.name %></td>
  <td><%= lead.status %></td>
  <td><%= lead.lawsuit_no %></td>
  <td><%= lead.amount_owed %></td>
  <td><%= lead.property_sold %></td>
  <td><%= lead.county %></td>
  <td><%= lead.date_sold %></td>
  <td><%= lead.mortgage_company %></td>
  <td><%= lead.initial_bid_amount %></td>
  <td><%= lead.sold_amount %></td>
  <td><%= link_to "View", lead, class: 'btn btn-primary' %></td>
  <td><%= button_to "Delete", lead, method: :delete, class: 'btn btn-danger' %></td>
</tr>
