<tr id="<% dom_id lead %>">
    <td scope="row"><%= lead.user.name %></td>
    <td><%= lead.status %></td>
    <td><%= lead.amount_owed %></td>
    <td><%= lead.property_sold %></td>
    <td><%= lead.country %></td>
    <td><%= lead.date_sold %></td>
    <td><%= lead.mortgage_company %></td>
    <td><%= lead.initial_bit_amount %></td>
    <td><%= lead.sold_amount %></td>
</tr>
