<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    width: 100%;
  }

  .dropdown-content a {
    display: block;
    margin-left: 8px;
    text-decoration: none;
    color: #333;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .search-box {
    box-sizing: border-box;
    margin-left: 8px;
    margin-bottom: 8px;
  }
</style>
<%= turbo_frame_tag 'lead-section' do %>
  <div class='d-flex justify-content-between align-items-center'>
    <div class='col-6 d-flex justify-content-between align-items-center'>
      <h1>Leads</h1>
      <div class="dropdown">
        <input type="text" placeholder="Search label.........      v" class="search-box">
        <div class="dropdown-content" id="myDropdown">
          <% labels = Label.all %>
          <option value="<%= labels.ids %>">
            <p>All</p>
          </option>
          <% labels.each do |label| %>
            <option value="<%= label.id %>">
              <p><%= label.name %></p>
            </option>
          <% end %>
          <!-- Add more options as needed -->
        </div>
      </div>
      <div class='col-6 justify-content-between align-items-center' data-controller="leads">
        <%= form_with(url: leads_path(format: :js), id: 'leads_users_filter_form', method: 'GET') do |form| %>
          <div class='d-flex justify-content-between align-items-center'>
            <h5>Users: </h5>
            <%= select_tag 'filter[user_id]', options_for_select(lead_users_options, params.dig('filter', 'user_id')), class: "form-control", data: { action: 'change->leads#submit_leads_users_filter_form' } %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Add more options as needed -->
    <div class='col-4 d-flex justify-content-between align-items-center'>
      <%= link_to "Import List", upload_csv_leads_path, class: 'btn btn-primary' %>
      <%= link_to "Create List", new_label_path, class: 'btn btn-primary' %>
      <%= link_to "New Lead", new_lead_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div id="leads">
    <%= render 'leads', leads: @leads %>
  </div>
<% end %>
<script>
  $(document).ready(function () {
    const searchBox = $(".search-box");
    const dropdownContent = $(".dropdown-content");

    searchBox.on("input", function () {
    const filter = searchBox.val().toUpperCase();
    const options = dropdownContent.find("option");

    options.each(function () {
      const txtValue = $(this).text().toUpperCase();
        if (txtValue.indexOf(filter) > -1) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });

    searchBox.on("focus", function () {
      dropdownContent.show();
    });

    searchBox.on("blur", function () {
      setTimeout(function () {
        dropdownContent.hide();
      }, 200);
    });

    $(".dropdown option").on("click", function (e) {
      $(".search-box").val(e.target.text);

      $.ajax({
        type: "GET",
        url: `${window.location.href}.js`,
        data: { label_id: e.target.value },
        error: function (error) {
          console.error("Error:", error);
        }
      });
    });
  });
</script>
