<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    width: 100%;
  }

  .dropdown-content a {
    display: block;
    margin-left: 8px;
    text-decoration: none;
    color: #333;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .search-box {
    box-sizing: border-box;
    margin-left: 8px;
    margin-bottom: 8px;
  }
</style>
<div data-controller="leads">
  <%= turbo_frame_tag 'lead-section' do %>
    <div class='d-flex justify-content-between align-items-center'>
      <div class='col-6 d-flex justify-content-between align-items-center'>
        <h1>Leads</h1>
        <div class="dropdown">
          <input type="text" placeholder="Search label.........      v" class="search-box">
          <div class="dropdown-content" id="myDropdown">
            <% labels = Label.all %>
            <option value="<%= labels.ids %>">
              <p>All</p>
            </option>
            <% labels.each do |label| %>
              <option value="<%= label.id %>">
                <p><%= label.name %></p>
              </option>
            <% end %>
            <!-- Add more options as needed -->
          </div>
        </div>
        <div class='col-4 justify-content-between align-items-center'>
          <%= form_with(url: leads_path, id: 'leads_users_filter_form', method: 'POST') do |form| %>
            <div class='d-flex justify-content-between align-items-center'>
              <h5>Users: </h5>
              <%= select_tag 'filter[user_id]', options_for_select(lead_users_options, params.dig('filter', 'user_id')), class: "form-control", data: { action: 'change->leads#submit_leads_users_filter_form' } %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Add more options as needed -->
      <div class='col-5 d-flex justify-content-between align-items-center'>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lead-assignee-change" , data-action= 'click->leads#assign_selected_users' >
          Change Assignee
        </button>
        <%= link_to "Import List", upload_csv_leads_path, class: 'btn btn-primary' %>
        <%= link_to "Create List", new_label_path, class: 'btn btn-primary' %>
        <%= link_to "New Lead", new_lead_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div id="leads">
      <%= render 'leads', leads: @leads %>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="lead-assignee-change" tabindex="-1" role="dialog" aria-labelledby="lead-assignee-changeTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Change clent Assignee</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_with(url: change_assignee_leads_path, id: 'assignee_form', method: 'POST', data: {action: 'turbo:submit-end->leads#toggleModel'}) do |form| %>
              <div class='d-flex justify-content-between align-items-center'>
                <h5>Users: </h5>
                <%= form.select 'assignee_id', options_for_select(lead_users_select_options, params.dig('assignee_id')), class: "form-control" %>
                <%= form.select :lead_ids, lead_options, {}, {multiple: true, class: 'd-none'} %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <%= form.submit 'Change', class:"btn btn-primary"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function () {
    const searchBox = $(".search-box");
    const dropdownContent = $(".dropdown-content");

    searchBox.on("input", function () {
    const filter = searchBox.val().toUpperCase();
    const options = dropdownContent.find("option");

    options.each(function () {
      const txtValue = $(this).text().toUpperCase();
        if (txtValue.indexOf(filter) > -1) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });

    searchBox.on("focus", function () {
      dropdownContent.show();
    });

    searchBox.on("blur", function () {
      setTimeout(function () {
        dropdownContent.hide();
      }, 200);
    });

    $(".dropdown option").on("click", function (e) {
      $(".search-box").val(e.target.text);

      $.ajax({
        type: "GET",
        url: `${window.location.href}.js`,
        data: { label_id: e.target.value },
        error: function (error) {
          console.error("Error:", error);
        }
      });
    });
  });
</script>
