<section class="section profile">
  <h1>Lead Profile</h1>
  <div class='row'>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#lead-notes">Notes</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Activities</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-overview">Family Tree</button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade profile-overview" id="profile-overview">
              TODO ...
            </div>
            <div class="tab-pane fade show active pt-3" id="lead-notes">
              <div class="card-body pb-0">
                <div class="accordion">
                  <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#add-note" aria-expanded="false" aria-controls="collapseTwo">
                      <div class="post-item clearfix">
                        <a>Add Note</a>
                      </div>
                    </button>
                    <div id="add-note" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <%= form_with(model: Note.new, url: notes_path(format: :js), method: 'post', id: 'lead-notes-form') do |form| %>
                          <%= form.hidden_field :author_id, value: User.first.id %>
                          <%= form.hidden_field :noteable_type, value: 'Lead' %>
                          <%= form.hidden_field :noteable_id, value: @lead.id %>
                          <div class="mb-3">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Note: </label>
                            <%= form.text_area :description, class: "form-control", style:"height: 100px" %>
                          </div>
                          <div class="mb-3">
                            <%= form.submit "Save", class: "btn btn-primary" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="scrollable-div" style="max-height: 65vh; overflow-y: auto; border: 1px solid #ddd; padding: 10px;">
                    <div id='notes-list'>
                      <%= render 'clients/notes', notes: @lead.notes.order(created_at: :desc) %>
                    </div>
                  </div>
                </div>
                <!-- End sidebar recent posts-->
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="profile-settings">
              <div class='d-flex justify-content-between align-items-center'>
                <h1><%= @lead.user.name %> Activities</h1>
                <%= link_to "New Activity", new_activity_path, class: 'btn btn-primary' %>
              </div>
              <div class='row scrollable-div' style="max-height: 65vh; overflow-y: auto; border: 1px solid #ddd; padding: 10px;">
                <div id="activities" class='col-7'>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">What to do</th>
                        <th scope="col">Client</th>
                        <th scope="col">Priority</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @lead.activities.each do |activity| %>
                        <%= render activity %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class='col-5'>
                  <%= month_calendar(events: @lead.activities, attribute: :date) do |date, activities| %>
                    <%= activities.count %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>
                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="password" type="password" class="form-control" id="currentPassword">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="newpassword" type="password" class="form-control" id="newPassword">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
              </form>
              <!-- End Change Password Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    $('body').on('submit', '#lead-notes-form', function(e){
      e.preventDefault();
      var formData = $(this).serialize();

      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: formData,
        error: function(error) {
          console.error('Error submitting form:', error);
        }
      });
    })
  })
</script>
