<%= turbo_frame_tag 'lead-section' do %>
  <div data-controller="leads">
    <h1>Upload CSV File</h1>
    <%= form_with(url: mappings_leads_path, id: 'mapping-form', data: {action: 'turbo:submit-end->leads#submit_mapping_form'}) do |form| %>
      <%= form.file_field :file %>
      <%= turbo_frame_tag "mapping-list" do %>
        <%= form.submit 'Upload' %>
      <% end %>
    <% end %>
  </div>
<% end %>
