<table class='table table-hover'>
  <thead>
    <tr>
      <th>Claim No</th>
      <th>Amount Owed</th>
      <th>Fee Percent</th>
      <th>Status</th>
      <th>Expected Commission</th>
      <th>Client</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% deals.each do |deal| %>
      <tr>
        <td><%= deal.claim_no %></td>
        <td><%= deal.amount_owed %></td>
        <td><%= deal.fee_percent %></td>
        <td><%= deal.status.to_s.humanize %></td>
        <td><%= deal.expected_commission %></td>
        <td><%= deal.client.name %></td>
        <td><%= link_to "Edit", edit_deal_path(deal), class: 'btn btn-primary' %></td>
        <td><%= button_to "Delete", deal, method: :delete, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
