<p style="color: green"><%= notice %></p>

<div class='d-flex justify-content-between align-items-center'>
  <h1>Activities</h1>
  <%= link_to "New Activity", new_activity_path, class: 'btn btn-primary' %>
</div>

<div class='row'>
<div id="clients" class='col-7'>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">What to do</th>
          <th scope="col">Client</th>
          <th scope="col">Priority</th>
        </tr>
      </thead>
      <tbody>
      <% @activities.each do |activity| %>
        <%= render activity %>
        <% end %>
      </tbody>
    </table>
</div>

<div class='col-5'>
<%= month_calendar(events: @activities, attribute: :date) do |date, activities| %>
  <%= activities.count %>
<% end %>
</div>

</div>
