<!DOCTYPE html>
<html>
  <head>
    <title>TelleCrm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <%= link_to image_tag('logo.png', height: 63, width: 125) %>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <span class="d-none d-md-block dropdown-toggle ps-2"><%= current_user.first_name %></span>
            </a><!-- End Profile Iamge Icon -->
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li>
                <%= link_to "My Profile", edit_user_path(current_user), class: "dropdown-item d-flex align-items-center" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Account Settings", "users-profile.html", class: "dropdown-item d-flex align-items-center" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Need Help?", "pages-faq.html", class: "dropdown-item d-flex align-items-center" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= button_to destroy_user_session_path, method: :delete, class:"dropdown-item d-flex align-items-center" do %>
                  <span>Sign Out</span>
                <% end %>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav><!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <%= link_to clients_path, class: "nav-link" do %>
            <i class="bi bi-grid"></i>
            <span>Clients</span>
          <% end %>
        </li>
        <!-- End Dashboard Nav -->
        <li class="nav-item">
          <%= link_to leads_path, class: "nav-link" do %>
            <i class="bi bi-grid"></i>
            <span>Leads</span>
          <% end %>
        </li>
        <!-- End Dashboard Nav -->
        <li class="nav-item">
          <%= link_to activities_path, class: "nav-link" do %>
            <i class="bi bi-grid"></i>
            <span>Activities</span>
          <% end %>
        </li>
        <!-- End Dashboard Nav -->
        <li class="nav-item">
          <%= link_to users_path, class: "nav-link" do %>
            <i class="bi bi-grid"></i>
            <span>Users</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to deals_path, class: "nav-link" do %>
            <i class="bi bi-grid"></i>
            <span>Deals</span>
          <% end %>
        </li>
        <!-- End Dashboard Nav -->
        <li class="nav-item">
          <%= link_to analytics_path, class: "nav-link" do %>
            <i class="bi bi-grid"></i>
            <span>Analytics</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to invoice_queues_path, class: "nav-link" do %>
            <i class="bi bi-grid"></i>
            <span>Invoice Queues</span>
          <% end %>
        </li>
        <!-- End Dashboard Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->
    <div id='main' data-controller='history'>
      <p style="color: green"><%= notice %></p>
      <%= yield %>
    </div>
  </body>
</html>
